.containerDiv {
    background-color: #DDDDDD;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    font-family: Verdana, sans-serif;
}

.headerDiv {
    background-color: #BBBBBB;
    height: 10%;
    border-radius: 5px;
    margin: 0 0.5% 10px 0.5%;
    padding: 0 7px 0 7px;
}

.validTerritoryStyle {
    background-color: lightgreen;
}

.dice-select {
    width: 80%;
}

.urgentBackground {
    background-color: #b22010;
}