@(game: Game)(implicit request: MessagesRequestHeader)

@main("Board") {
    <script src="@routes.Assets.versioned("javascripts/raphael-min.js")"></script>

    <h1>RISK Board</h1>
    <hr/>
    <div style="width: 100%; margin: 0 auto">
        <div id="rsr" style="float: left"></div>
        <div style="float: left">
            <h3>Current Armies</h3>
            @for(i <- 0 until game.board.territories.size) {
                <p style="margin: 0">@i. @game.board.territories(i).name: <b>@game.board.territories(i).armies</b>, owner: @game.board.territories(i).owner</p>
            }
        </div>
    </div>
    <div id="react-view"></div>

    <script src="@routes.Assets.versioned("compiled/bundle.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/worldMap.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/worldMapSetup.js")"></script>

    <script>
    function setTerritoryText() {
        for (var i in allTerrs) {
            var region = allTerrs[i], bbox = region.getBBox();
            var text = undefined;

            var x = bbox.x + bbox.width / 2;
            var y = bbox.y + bbox.height / 2;

            if (linkedRegions.indexOf(region) !== -1) text = rsr.text(x, y, region[0].data('id'));
            else text = rsr.text(x, y, region.data('id'));
        }
    }

    setTerritoryText();
    </script>
}
