@(game: Game)(implicit request: MessagesRequestHeader)

@main("Board") {
    <h1>RISK Board</h1>
    <hr/>
    <div style="width: 100%; margin: 0 auto">

        <div style="float: left">
            <h3>Current Armies</h3>
            @for(i <- 0 until game.board.territories.size) {
                <p style="margin: 0">@i. @game.board.territories(i).name: <b>@game.board.territories(i).armies</b>, <i>@game.board.territories(i).owner.get.name</i></p>
            }
        </div>
    </div>
    <div id="react-view"></div>

    <script src="@routes.Assets.versioned("compiled/bundle.js")"></script>
}