@(players: Seq[String], gameId: String)(implicit request: MessagesRequestHeader)

  @main("Players") {

    <p>Game ID: @gameId</p>

    <h1>Players</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>Name</th>
      </thead>
      <tbody>
      @for(p <- players) {
        <tr><td>@p</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    @if(players.length >= 3){
       <button onclick="location.href='@routes.GameController.startGame(gameId)'" type="button">Start Game!</button>
    } else {
       <button onclick="location.href='@routes.GameController.startGame(gameId)'" type="button" disabled>Start Game!</button>
    }
  }
